# Dataset
Dataset/
*.csv
*.xlsx

# Pickle / model files
*.pkl
*.pickle

# Python
__pycache__/
*.pyc

# Virtual environments
venv/
.venv/
env/

# Streamlit
.streamlit/secrets.toml

# OS
.DS_Store
Thumbs.db